/* Styles for a 90-degree rotated hr */
.hr-90deg {
        transform: rotate(90deg);
        border: none;
}

/* Styles for a 180-degree rotated hr */
.hr-180deg {
        transform: rotate(180deg);
        border: none;
}
